@if (ShowMessage)
{
    <div class="toast-message-container">
        <div style="background-color: @Col;" class="toast-message-box @MessageTypeClass">
            <span class="toast-message-content">@MessageContent</span>
            <button class="toast-close-button" @onclick="HideMessage">x</button>
        </div>
    </div>
}