body {
  background: orange;
  height: 100vh;
}

#navbar,#main,#p2 {
  padding-left: 20px;
  padding-right: 20px;
  width: 750px;
}

#main {
  background-color: white;
  padding: 20px;
}

#p2{
  height: 550px;
  background-color: white;
}

#navbar {
  padding: 20px;
  background-color: red;
  margin-bottom: 20px;
}

img {
  max-width: 100%;
  object-fit: contain;
}
