@inherits LayoutComponentBase
<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <div style="height: 100%; width: 100%; overflow: hidden;">
        @Body
    </div>
</div>
