.timer {
  display: flex;
  font-size: 50px;
  font-family: mono;
  font-weight: bold;
  justify-content: center;
  align-items: center;
  user-select:none;
  flex-direction: column;
  gap: 2rem;
}

.timer span {
  cursor: pointer;
}

.row1,
.row2
{
  display: flex;
  gap: 2rem;
  justify-content: center;
}

.row1 input,
.row2 input 
{
  padding: .5rem 1rem;
  border-radius: .5rem;
}

form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem;
  border-radius: 1rem;
}

.in {
  width: 200px;
  height: 20px;
}

.input_wrapper {
  display: flex;
  gap: .5rem;
  flex-direction: column;
}

.timer .t-bnt{
  padding: .5rem .5rem;
  height: 4rem !important;
  width: 4rem;
  border-radius: .5rem;
  cursor: pointer;
}


